:root {
	--minouc: #ffcc00; /*var(--minouc);*/
	--oscdum: black;
	--anggra: 45deg;
	--vcarouselsize: 20%;
	--hcarouselsize: 10%;
	--shared-color: black;
	--background-black: black;
	/*--minouc: #3e1e67;
	--oscdum: #f7f7ea;
	--anggra: 0deg;*/
	--defdeg: var(--anggra), var(--minouc) 0%,
		var(--minouc) 2%, var(--oscdum) 2%, var(--oscdum) 4%, var(--minouc) 4%, var(--minouc) 6%, var(--oscdum) 6%, var(--oscdum) 8%, var(--minouc) 8%, var(--minouc) 10%, var(--oscdum) 10%, 
		var(--oscdum) 12%, var(--minouc) 12%, var(--minouc) 14%, var(--oscdum) 14%, var(--oscdum) 16%, var(--minouc) 16%, var(--minouc) 18%, var(--oscdum) 18%, var(--oscdum) 20%, var(--minouc) 20%, 
		var(--minouc) 22%, var(--oscdum) 22%, var(--oscdum) 24%, var(--minouc) 24%, var(--minouc) 26%, var(--oscdum) 26%, var(--oscdum) 28%, var(--minouc) 28%, var(--minouc) 30%, var(--oscdum) 30%, 
		var(--oscdum) 32%, var(--minouc) 32%, var(--minouc) 34%, var(--oscdum) 34%, var(--oscdum) 36%, var(--minouc) 36%, var(--minouc) 38%, var(--oscdum) 38%, var(--oscdum) 40%, var(--minouc) 40%, 
		var(--minouc) 42%, var(--oscdum) 42%, var(--oscdum) 44%, var(--minouc) 44%, var(--minouc) 46%, var(--oscdum) 46%, var(--oscdum) 48%, var(--minouc) 48%, var(--minouc) 50%, var(--oscdum) 50%, 
		var(--oscdum) 52%, var(--minouc) 52%, var(--minouc) 54%, var(--oscdum) 54%, var(--oscdum) 56%, var(--minouc) 56%, var(--minouc) 58%, var(--oscdum) 58%, var(--oscdum) 60%, var(--minouc) 60%, 
		var(--minouc) 62%, var(--oscdum) 62%, var(--oscdum) 64%, var(--minouc) 64%, var(--minouc) 66%, var(--oscdum) 66%, var(--oscdum) 68%, var(--minouc) 68%, var(--minouc) 70%, var(--oscdum) 70%, 
		var(--oscdum) 72%, var(--minouc) 72%, var(--minouc) 74%, var(--oscdum) 74%, var(--oscdum) 76%, var(--minouc) 76%, var(--minouc) 78%, var(--oscdum) 78%, var(--oscdum) 80%, var(--minouc) 80%, 
		var(--minouc) 82%, var(--oscdum) 82%, var(--oscdum) 84%, var(--minouc) 84%, var(--minouc) 86%, var(--oscdum) 86%, var(--oscdum) 88%, var(--minouc) 88%, var(--minouc) 90%, var(--oscdum) 90%, 
		var(--oscdum) 92%, var(--minouc) 92%, var(--minouc) 94%, var(--oscdum) 94%, var(--oscdum) 96%, var(--minouc) 96%, var(--minouc) 98%, var(--oscdum) 98%, var(--oscdum) 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


body {
	display: flex;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}

.viewer-container {
	width: 80%;
	height: 80%;
	padding: 0;
	position: relative;
	border-radius: 1vh;
	overflow: hidden;
	display: flex;
}

.inner-viewer-container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	overflow: hidden;
	position: relative;
	align-items: stretch;
	justify-content: space-between;
}

.filler {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: stretch; /* Asegura alturas consistentes */
	justify-content: space-between; /* Espaciado correcto entre hijos */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapper * {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.viewer {
	position: relative;
	flex: 1;
	display: block;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	min-width: calc(100% - var(--hcarouselsize));
	min-height: calc(100% - var(--vcarouselsize));
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	object-fit: contain;
	overflow: hidden;
}

.viewer.left, .viewer.right {
	width: calc(100% - var(--hcarouselsize));
	height: 100%;
}
.viewer.top, .viewer.bottom {
	width: 100%;
	height: calc(100% - var(--vcarouselsize));
}

.viewerContent {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex: 1;
	overflow: hidden;
	object-fit: contain;
	object-position: center;
	background-color: var(--shared-color);
}

.viewerContent.bottom {
	flex-direction: column;
}

.viewerContent.top {
	flex-direction: column-reverse;
}

.viewerContent.left {
	flex-direction: row-reverse;
}

.viewerContent.right {
	flex-direction: row;
}

.viewerContent::after {
  content: "";
  clear: both;
  display: block;
}

.description-panel {
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: 80%;
	padding: 40px 40px 0 10px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
    -ms-overflow-style: none;
	display: none;
	font-size: 20px;
	font-family: arial;
	text-align: justify;
	filter: invert(100%);
	user-select: none;
	-webkit-filter: invert(100%);
	opacity: 0.7;
	pointer-events:none;
	color: var(--shared-color);
}

.description-panel::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Edge: Oculta la barra */
}

.description-panel::first-line {
	text-align: right;
	font-size: 30px;
	font-weight: bold;
}

.toggle-button, .pause-button {
	position: absolute;
	top: 2px;
	border: none;
	padding: 5px;
	font-family: Arial, sans-serif;
	line-height: 1;
	vertical-align: middle;
	background-color: transparent;
	font-size: 40px;
	cursor: pointer;
	z-index: 1000;
	filter: invert(100%);
	-webkit-filter: invert(100%);
	/*opacity: 0;*/
}

.toggle-button {
	right: 10px;
}

.pause-button {
	left: 10px;
	display:none;
}

.control-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0px;
	box-sizing: border-box;
	position: absolute;
}

.control-container-left,
.control-container-right {
	display: flex;
	flex-direction: row;
	gap: 10px;
	top: 2px;
	border: none;
	filter: invert(100%);
	-webkit-filter: invert(100%);
	padding: 5px;
}

.control-container-left {
    justify-content: flex-start;
}

.control-container-right {
    justify-content: flex-end;
}

.control-container .control-button,
.control-container .control-dropdown {
	font-family: 'Poppins', Courier, monospace;
	margin: 0;
	padding: 0;
	line-height: 1;
	vertical-align: middle;
	font-size: 40px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	min-width: 40px;
	height: 40px;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
	overflow: visible;
	color: var(--shared-color);
	outline: none;
}

.control-container .control-button {
	text-align: center;
}
.control-container .control-dropdown {
	text-align: left;
}

.control-container .control-button:hover,
.control-container .control-dropdown:hover {
	-webkit-filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
	filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
}

.control-dropdown option {
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    padding: 5px;
    border: none;
}

.thumbnail-container {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
	min-height: var(--vcarouselsize);
	min-width: var(--hcarouselsize);
	flex: 0 0 auto;
}

/*Los thumbnails horizontales ocupan todo el ancho y el 20% del alto. Los verticales el 20% del ancho y el alto que les quede tras poner los horizontales*/
.thumbnail-container.top {
	width: 100%;
	height: var(--vcarouselsize);
	flex-direction: row;
	background: linear-gradient(to top, var(--shared-color), var(--background-black));
}
.thumbnail-container.bottom {
	width: 100%;
	height: var(--vcarouselsize);
	flex-direction: row;
	background: linear-gradient(to bottom, var(--shared-color), var(--background-black));
}
.thumbnail-container.left {
	width: var(--hcarouselsize);
	height: 100%;
	flex-direction: column;
	background: linear-gradient(to left, var(--shared-color), var(--background-black));
}
.thumbnail-container.right {
	width: var(--hcarouselsize);
	height: 100%;
	flex-direction: column;
	background: linear-gradient(to right, var(--shared-color), var(--background-black));
}

.thumbnail-container.right .thumbnail, .thumbnail-container.left .thumbnail {
	width: 75%;
	/*margin: 0 10px;*/
	/*transition: transform 0.5s ease-in-out;*/
}

.thumbnail-container.top .thumbnail, .thumbnail-container.bottom .thumbnail {
	height: 75%;
	/*margin: 10 0px;*/
	/*transition: transform 0.5s ease-in-out;*/
}

.thumbnail:hover {
	-webkit-filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
	filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
}

.thumbnail.current-thumbnail {
	transform: scale(1.33, 1.33);
}

.arrow {
	position: absolute;	
	line-height: 1.25;
	font-size: 16vh;
	color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
	user-select: none;
}

.arrow.top, .arrow.bottom {
	
}

.arrow.left, .arrow.right {
	transform: translateY(-54%);
	top: 50%;
}

.arrow:hover {
	color: rgba(255, 255, 255, 0.5); /* Blanco opaco */
}

.arrow.left {
	left: 10px;
}

.arrow.right {
	right: 10px;
}

.arrow.top {
	top: 10px;
}

.arrow.bottom {
	bottom: 10px;
}

/*Estilos para la página principal*/
.tabs {
	display: flex;
	flex-direction: column;
	width: 10%;
	height: 100vh;
	position: fixed;
	overflow-y: auto;
	background-color: #000000;
}

.tab {
	padding: 15px;
	cursor: pointer;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	border: none;
	outline: none;
	font-weight: bold;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s, border-left 0.3s;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tab:visited {
	color: #ffffff;
	text-decoration: none;
}

.tab.active {
	background-image: linear-gradient(to right, rgba(64,64,64,1), rgba(0,0,0,1));
}

.tab:hover {
	background-image: linear-gradient(to right, rgba(32,32,32,1), rgba(0,0,0,1));
}

.contents {
	margin-left: 10%;
	width: 90%;
	height: 100vh;
	scroll-snap-type: y mandatory;
	scroll-padding: 0;
	scroll-margin: 0;
	overflow-y: auto;
}

.content {
	padding: 0px;
	margin: 0px;
	scroll-snap-align: start;
	scroll-margin: 0;
	scroll-padding: 0;
	display: flex;
	width: 100%;
	height: 100%;
	min-height: 100%;
	align-items: center;
	justify-content: center;
	background-color: var(--background-black);
	color: white;
}

.simple-container {
	width: 100%;
	background-color: #000000;
	padding: 20px;
	position: relative;
	margin: 0px 10vh;
}

/* Menú de idioma*/

.language-menu {
  position: absolute;
  top: 10px;
  right: 30px;
}

.language-menu select {
  appearance: none; /* Eliminar el estilo predeterminado del navegador */
  -webkit-appearance: none; /* Safari y Chrome */
  -moz-appearance: none; /* Firefox */
  background-color: #f0f0f0;
  border: 0px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #808080;
  border-radius: 8px;
}

.language-menu option {
	appearance: none; /* Eliminar el estilo predeterminado del navegador */
	-webkit-appearance: none; /* Safari y Chrome */
	-moz-appearance: none; /* Firefox */
	padding: 0px;
	margin: 0px;
	width: 0px;
}
.language-menu option[value="es"] {background-image: url(SP.png);}
.language-menu option[value="en"] {background-image: url(UK.png);}

.language-menu select::-ms-expand {
  display: none; /* Eliminar la flecha en IE */
}

p {
	display: inline;
}