:root {
	--minouc: #ffcc00; /*var(--minouc);*/
	--oscdum: black;
	--anggra: 45deg;
	/*--minouc: #3e1e67;
	--oscdum: #f7f7ea;
	--anggra: 0deg;*/
	--defdeg: var(--anggra), var(--minouc) 0%,
		var(--minouc) 2%, var(--oscdum) 2%, var(--oscdum) 4%, var(--minouc) 4%, var(--minouc) 6%, var(--oscdum) 6%, var(--oscdum) 8%, var(--minouc) 8%, var(--minouc) 10%, var(--oscdum) 10%, 
		var(--oscdum) 12%, var(--minouc) 12%, var(--minouc) 14%, var(--oscdum) 14%, var(--oscdum) 16%, var(--minouc) 16%, var(--minouc) 18%, var(--oscdum) 18%, var(--oscdum) 20%, var(--minouc) 20%, 
		var(--minouc) 22%, var(--oscdum) 22%, var(--oscdum) 24%, var(--minouc) 24%, var(--minouc) 26%, var(--oscdum) 26%, var(--oscdum) 28%, var(--minouc) 28%, var(--minouc) 30%, var(--oscdum) 30%, 
		var(--oscdum) 32%, var(--minouc) 32%, var(--minouc) 34%, var(--oscdum) 34%, var(--oscdum) 36%, var(--minouc) 36%, var(--minouc) 38%, var(--oscdum) 38%, var(--oscdum) 40%, var(--minouc) 40%, 
		var(--minouc) 42%, var(--oscdum) 42%, var(--oscdum) 44%, var(--minouc) 44%, var(--minouc) 46%, var(--oscdum) 46%, var(--oscdum) 48%, var(--minouc) 48%, var(--minouc) 50%, var(--oscdum) 50%, 
		var(--oscdum) 52%, var(--minouc) 52%, var(--minouc) 54%, var(--oscdum) 54%, var(--oscdum) 56%, var(--minouc) 56%, var(--minouc) 58%, var(--oscdum) 58%, var(--oscdum) 60%, var(--minouc) 60%, 
		var(--minouc) 62%, var(--oscdum) 62%, var(--oscdum) 64%, var(--minouc) 64%, var(--minouc) 66%, var(--oscdum) 66%, var(--oscdum) 68%, var(--minouc) 68%, var(--minouc) 70%, var(--oscdum) 70%, 
		var(--oscdum) 72%, var(--minouc) 72%, var(--minouc) 74%, var(--oscdum) 74%, var(--oscdum) 76%, var(--minouc) 76%, var(--minouc) 78%, var(--oscdum) 78%, var(--oscdum) 80%, var(--minouc) 80%, 
		var(--minouc) 82%, var(--oscdum) 82%, var(--oscdum) 84%, var(--minouc) 84%, var(--minouc) 86%, var(--oscdum) 86%, var(--oscdum) 88%, var(--minouc) 88%, var(--minouc) 90%, var(--oscdum) 90%, 
		var(--oscdum) 92%, var(--minouc) 92%, var(--minouc) 94%, var(--oscdum) 94%, var(--oscdum) 96%, var(--minouc) 96%, var(--minouc) 98%, var(--oscdum) 98%, var(--oscdum) 100%;
}

* {
    box-sizing: border-box;
}

html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


body {
	display: flex;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-y: auto;
  
  	/*background: linear-gradient(var(--defdeg));
	background: -moz-linear-gradient(var(--defdeg));
	background:-webkit-linear-gradient(var(--defdeg));
	background: #333;*/
}

.filler {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
}

.viewer-container {
	width: 80%;
	height: 80%;
	padding: 0px;
	position: relative;
	border-radius: 1vh;
	overflow: hidden;
	display: flex;
}

.inner-viewer-container {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	display: flex;
	overflow: hidden;
	position: relative;
	align-items: stretch;
	justify-content: space-between;
}

.viewer-container.bottom, .inner-viewer-container.bottom {
	flex-direction: column;
}

.viewer-container.top, .inner-viewer-container.top {
	flex-direction: column-reverse;
}

.viewer-container.left, .inner-viewer-container.left {
	flex-direction: row-reverse;
}

.viewer-container.right, .inner-viewer-container.right {
	flex-direction: row;
}

.viewer-container::after {
  content: "";
  clear: both;
  display: block;
}

.inner-viewer-container::after {
  content: "";
  clear: both;
  display: block;
}

.viewer {
	position: relative;
	flex: 1;
    display: block;
    justify-content: center;
    align-items: center;
	height: 100%;
	width: 100%;
	min-width: 80%;
    min-height: 80%;
	margin: 0;
	padding: 0;
	object-fit: contain;
}

.viewer.left, .viewer.right {
	width: 80%;
	height: 100%;
}
.viewer.top, .viewer.bottom {
	width: 100%;
	height: 80%;
}

.viewerContent {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	/*display: flex;*/
}

.description-panel {
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: 50%;
	padding: 40px 40px 0 10px;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
	/*pointer-events: none; /* No recibir eventos de ratón */
	font-size: 30px;
	font-family: arial;
	text-align: right;
	filter: invert(100%);
	user-select: none;
	-webkit-filter: invert(100%);
	opacity: 0.3;
	text-shadow: 
		-1px -1px 0 #000, /* sombra hacia la esquina superior izquierda */
		1px -1px 0 #000,	/* sombra hacia la esquina superior derecha */
		-1px 1px 0 #000,	/* sombra hacia la esquina inferior izquierda */
		1px 1px 0 #000;	 /* sombra hacia la esquina inferior derecha */
}

.description-panel::first-line {
	font-size: 40px;
	font-weight: bold;
}

.toggle-button, .pause-button {
	position: absolute;
	top: 2px;
	border: none;
	padding: 5px;
	font-family: Arial, sans-serif;
	line-height: 1;
	vertical-align: middle;
	background-color: transparent;
	font-size: 40px;
	cursor: pointer;
	z-index: 1000;
	filter: invert(100%);
	-webkit-filter: invert(100%);
	/*opacity: 0;*/
}

.toggle-button {
	right: 10px;
}

.pause-button {
	left: 10px;
	display:none;
}

.thumbnail-container {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: auto 0;
	margin: 0;
	/*border: 0;*/
	min-height: 20%;
	min-width: 20%;
}

/*Los thumbnails horizontales ocupan todo el ancho y el 20% del alto. Los verticales el 20% del ancho y el alto que les quede tras poner los horizontales*/
.thumbnail-container.top {
	width: 100%;
	height: 20%;
	align-self: flex-start;
	flex-direction: row;
}
.thumbnail-container.bottom {
	width: 100%;
	height: 20%;
	align-self: flex-end;
	flex-direction: row;
}
.thumbnail-container.left {
	width: 20%;
	height: 100%;
	align-self: flex-start;
	flex-direction: column;
}
.thumbnail-container.right {
	width: 20%;
	height: 100%;
	align-self: flex-end;
	flex-direction: column;
}

.thumbnail-container.right .thumbnail, .thumbnail-container.left .thumbnail {
	width: 75%;
	margin: 0 10px;
	/*transition: transform 0.5s ease-in-out;*/
}

.thumbnail-container.top .thumbnail, .thumbnail-container.bottom .thumbnail {
	height: 75%;
	margin: 10 0px;
	/*transition: transform 0.5s ease-in-out;*/
}

.thumbnail:hover {
	-webkit-filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
	filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
}

.thumbnail.current-thumbnail {
	transform: scale(1.33, 1.33);
}

.arrow {
	position: absolute;	
	line-height: 1.25;
	font-size: 16vh;
	color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
	user-select: none;
}

.arrow.top, .arrow.bottom {
	
}

.arrow.left, .arrow.right {
	transform: translateY(-54%);
	top: 50%;
}

.arrow:hover {
	color: rgba(255, 255, 255, 0.5); /* Blanco opaco */
}

.arrow.left {
	left: 10px;
}

.arrow.right {
	right: 10px;
}

.arrow.top {
	top: 10px;
}

.arrow.bottom {
	bottom: 10px;
}

/*Estilos para la página principal*/


.tabs {
	display: flex;
	flex-direction: column;
	width: 10%;
	height: 100vh;
	position: fixed;
	overflow-y: auto;
	background-color: #000000;
}

.tab {
	padding: 15px;
	cursor: pointer;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	border: none;
	outline: none;
	font-weight: bold;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s, border-left 0.3s;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tab:visited {
	color: #ffffff;
	text-decoration: none;
}

.tab.active {
	background-image: linear-gradient(to right, rgba(64,64,64,1), rgba(0,0,0,1));
	/*background-color: white;*/
}

.tab:hover {
	background-image: linear-gradient(to right, rgba(32,32,32,1), rgba(0,0,0,1));
}

.contents {
	margin-left: 10%;
	width: 90%;
	height: 100vh;
	scroll-snap-type: y mandatory;
	scroll-padding: 0;
	scroll-margin: 0;
	overflow-y: auto;
}

.content {
	padding: 0px;
	margin: 0px;
	scroll-snap-align: start;
	scroll-margin: 0;
	scroll-padding: 0;
	display: flex;
	width: 100%;
	height: 100%;
	min-height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	color: white;
}

.simple-container {
	width: 100%;
	background-color: #000000;
	padding: 20px;
	position: relative;
	margin: 0px 10vh;
}

/* Menú de idioma*/

.language-menu {
  position: absolute;
  top: 10px;
  right: 30px;
}

.language-menu select {
  appearance: none; /* Eliminar el estilo predeterminado del navegador */
  -webkit-appearance: none; /* Safari y Chrome */
  -moz-appearance: none; /* Firefox */
  background-color: #f0f0f0;
  border: 0px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #808080;
  border-radius: 8px;
}

.language-menu option {
	appearance: none; /* Eliminar el estilo predeterminado del navegador */
	-webkit-appearance: none; /* Safari y Chrome */
	-moz-appearance: none; /* Firefox */
	padding: 0px;
	margin: 0px;
	width: 0px;
}
.language-menu option[value="es"] {background-image: url(SP.png);}
.language-menu option[value="en"] {background-image: url(UK.png);}

.language-menu select::-ms-expand {
  display: none; /* Eliminar la flecha en IE */
}

p {
	display: inline;
}